$colorPage: #F6F9FC;
$colorGreen: #25A95B;
$colorBlue: #4A90E2;
$colorDarkBlue: #42506B;
$colorPurple: #7344C0;
$colorGrey: #F6F8FA;
$colorDarkGrey: #8392A6;
$colorLighterGrey: #DCDEE4;
$colorGrey: #979797;
$colorShadow: #E4E5E7;
$colorTextTitle: #43516B;
$colorTextSubtitle: #8E97A6;
$colorTextInput: #B4B9C4;
$colorTextPlaceHolder: #B4B9C4;
$colorTextInputFocus: #2DC26A;
$colorTextInputTextFocus: #12AAA7;
$colorTextInputFocusShadow: rgba(45, 194, 106, 0.15);
$colorBtn: #7344C0;
$colorBtnBorder: #979797;
$colorBtnHover: #592F9D;
$colorEventHover: #1F2844;
$colorMenuText: #43516B;
$colorMenuHover: #F2EDFF;
$colorMenuHoverBorder: #D4D8E1;
$colorMenuShadow: #E4E5E7;
$colorMenuHoverText: #7344C0;
